{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/exam.css') }}">
<script src="{{ url_for('static',filename='javascript/exam.js') }}"></script>
{% endblock %}

{% block body %}
<body>
<div>
    <nav class="navbar navbar-expand-sm font-navbar navbar-dark bg-dark fixed-top" id="my-navbar">
        <div class="container"> {# 这个class的作用是，让两边有空闲地区 #}
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-tags"></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active li-navbar rounded">
                        <a class="nav-link" href="{{ url_for('index') }}">首页<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0" id="unLogin">

                    <div class="btn-group">
                        <button type="button" id="personalcenter"
                                class="btn btn-info dropdown-toggle  my-2 my-sm-0 form-control"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">{{currentTableName}}
                        </button>
                        <div class="dropdown-menu">
                           {% for t in tableName %}
                            <a class="dropdown-item" href="http://localhost:3000/exam?tableName={{t}}">{{t}}</a>
                             {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</div>




<div class="exam">
    <strong>一、单项选择题(本类题共 24 小题，每小题 1.5 分，共 36
        分。每小题备选答案中，只有一个符合题意的正确答案。多选、错选、不选均不得分。)</strong>

    {% for q in question %}


    <div class="p-3 mb-2 bg-info text-white rounded">
        {{q.nth}}<br>
        <div id="image-container{{ loop.index }}"></div>
        <script>
            // 调用getImage函数并传递图像路径和容器ID
        getImage('{{ q.image }}', 'image-container{{ loop.index }}');
        </script>

        <form id="{{q.question_id}}" action="##" onsubmit="return false">
            <textarea itemid="{{q.question_id}}" id="itemid{{q.question_id}}">{{ q.question }} </textarea><br>
            <input class="question" onclick="submit_question(this)"  type="button" value="提交"><br>
        </form>

        {% for option in q.options %}
        {{option.code}}:{{option.option}} <br>
        {% endfor %}
        <br>

    </div>
    {{q.solution}}
    <br>
    <form action="http://localhost:5000/update_analyze" method="post" name="analysis">
        <textarea>{{ q.analysis }} </textarea><br>
        <input class="analysis" name="analysis" type="button" value="提交"><br>
    </form>



    {% endfor %}


</div>


</body>
{% endblock %}