{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/exam.css') }}">
<script src="{{ url_for('static',filename='javascript/exam.js') }}"></script>
{% endblock %}

{% block body %}
<body>
<div>
    <nav class="navbar navbar-expand-sm font-navbar navbar-dark bg-dark fixed-top" id="my-navbar">
        <div class="container"> {# 这个class的作用是，让两边有空闲地区 #}
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-tags"></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active li-navbar rounded">
                        <a class="nav-link" href="{{ url_for('index') }}">首页<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0" id="unLogin">
                    {% if name %}
                    <div class="btn-group">
                        <button type="button" id="personalcenter"
                                class="btn btn-info dropdown-toggle  my-2 my-sm-0 form-control"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">{{ name }}
                        </button>
                        <div class="dropdown-menu"><a class="dropdown-item" href="{{ url_for('result') }}">考试记录</a>
                            <a class="dropdown-item" href="#">虚位以待</a>
                            <a class="dropdown-item" href="#">虚位以待</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">虚位以待</a>
                        </div>
                    </div>
                    <div style="padding:0 0;margin-left: 12.39px">
                        <button type="button" class="btn btn-success  form-control my-2 my-sm-0" id="submit">
                            提交试卷
                        </button>
                    </div>
                    <div style="padding:0 0;margin-left: 12.39px">
                        <button type="button" class="btn btn-danger form-control my-2 my-sm-0"
                                id="give_up">
                            放弃考试
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="submit_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">仔细思考</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>是否提交试卷 ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit_paper">确认试卷</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="submit_cancel">取消</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="giveup_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">仔细思考</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color: red">是否放弃考试 ?</p>
                放弃考试后，你本次的成绩无效
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="giveup_button">放弃考试</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="giveup_cancel_button">取消
                </button>
            </div>
        </div>
    </div>
</div>


{% if name %}
<div class="exam">
    <strong>一、单项选择题(本类题共 24 小题，每小题 1.5 分，共 36
        分。每小题备选答案中，只有一个符合题意的正确答案。多选、错选、不选均不得分。)</strong>

    {% for q in question %}
    {% if q.type==1 %}

    <div class="p-3 mb-2 bg-info text-white rounded">
        {{q.nth}}/{{q.issues_count}}<br>
        <div id="image-container{{ loop.index }}"></div>
        <script>
            // 调用getImage函数并传递图像路径和容器ID
        getImage('{{ q.image }}', 'image-container{{ loop.index }}');
        </script>

        <form action="##" onsubmit="return false">
            <textarea itemid="{{q.id}}" id="itemid">{{ q.question }} </textarea><br>
            <input class="question" onclick="submit_question()"  type="button" value="提交"><br>
        </form>

        {{q.options.A}} <br>
        {{q.options.B}}<br>
        {{q.options.C}}<br>
        {{q.options.D}} <br>
        <br>

    </div>
    {{q.solution}}
    <br>
    <form action="http://localhost:5000/update_analyze" method="post" name="analysis">
        <textarea>{{ q.analysis }} </textarea><br>
        <input class="analysis" name="analysis" type="button" value="提交"><br>
    </form>

    {% endif %}

    {% endfor %}


</div>

{% else %}
<script>
    $('#my-navbar').removeClass('fixed-top')
</script>
<div class="container" style="margin-top: 30px">
    <div class="jumbotron">
        <h1 class="display-3">请先登录</h1>
        <p class="lead">Don't access this page by URL, please retrun index page</p>
        <small>Login first</small>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger
            container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('index') }}" role="button">返回首页</a>
        </p>
    </div>
</div>
{% endif %}
</body>
{% endblock %}